<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="en">
<head>
    <title>Change password</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container main-content">
        <div class="row">

            <div class="col">
            </div>


            <div class="col-md-5">
                <h1>Change password</h1>
                <form th:action="@{/api/changePassword}" th:object="${changePassword}" method="post" accept-charset="utf-8">

                    <div th:if="${param.success}">
                        <div class="alert alert-info">
                            You've successfully changed your password!
                        </div>
                    </div>

                    <p class="error-message"
                       th:if="${#fields.hasGlobalErrors()}"
                       th:each="error : ${#fields.errors('global')}"
                       th:text="${error}">Validation error</p>

                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('currentPassword')}? 'has-error':''">
                        <label for="currentPassword" class="control-label">Current password</label>
                        <input id="currentPassword"
                               class="form-control"
                               type="password"
                               th:field="*{currentPassword}"/>
                        <p class="error-message"
                           th:each="error : ${#fields.errors('currentPassword')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                        <label for="password" class="control-label">Password</label>
                        <input id="password"
                               class="form-control"
                               type="password"
                               th:field="*{password}"/>
                        <p class="error-message"
                           th:each="error : ${#fields.errors('password')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                        <label for="confirmPassword" class="control-label">Confirm password</label>
                        <input id="confirmPassword"
                               class="form-control"
                               type="password"
                               th:field="*{confirmPassword}"/>
                        <p class="error-message"
                           th:each="error : ${#fields.errors('confirmPassword')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Change password</button>
                        <span><a href="/api/person" th:href="@{/api/person}">Back to profile</a></span>
                    </div>

                </form>
            </div>

            <div class="col">
            </div>

        </div>
    </div>
</div>

</body>
</html>