<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head>
    <title>Home</title>
</head>
<body>

<div layout:fragment="content">
    <div class="jumbotron main-content">
        <h1 sec:authorize="isAnonymous()">Welcome to SayMe Messenger</h1>
        <h1 sec:authorize="hasRole('ROLE_USER')">Welcome dear user :)</h1>
        <p>SayMe Messenger is a FREE browser messaging app used for searching friends, instant messaging, sharing
            photos. The app can be used to communicate with your friends.
            What the people like on the Web Messenger is the ability to find conversation very quick, the speed of the
            chat, the nice flat design and the big input areas.</p>
        <h4>You have to try this experience!!</h4>
    </div>
    <div class="container">
        <h3>It includes the following functions:</h3>
        <ul>
            <li>Sign-In</li>
            <li>Admin / User roles</li>
            <li>Redirect to custom error pages</li>
            <li>View person & friend lists</li>
            <li>View person's contact information</li>
        </ul>
        <ul>
            <li><a th:href="@{/api/person}">My Profile</a></li>
        </ul>
    </div>
</div>

</body>
</html>