<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html">
    <link rel="stylesheet" type="text/css" media="all" href="../resources/static/css/styles.css" th:href="@{/css/styles.css}"/>
    <script type="text/javascript" src="../resources/static/js/jquery-1.10.2.min.js" th:src="@{/js/jquery-1.10.2.min.js}"></script>
    <title>Person</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container main-content">
        <div id="w">
            <div id="content" class="clearfix">
                <div id="userphoto"><img src="../resources/static/images/avatar.png" th:src="@{/images/avatar.png}" alt="default avatar"></div>
                <h1>User Profile</h1>

                <nav id="profiletabs">
                    <ul class="clearfix">
                        <li><a href="#bio" class="sel">Bio</a></li>
                        <li><a href="#users">Users</a></li>
                        <li><a href="#friends">Friends</a></li>
                        <li><a href="#settings">Settings</a></li>
                    </ul>
                </nav>

                <section id="bio">
                    <p th:text="'Hello, my name is ' + ${user.fullName}"></p>
                </section>

                <section id="users" class="hidden">
                    <p>In this section you can:</p>
                    <a class="users" th:href="@{api/users}">Find users</a>
                </section>

                <section id="friends" class="hidden">
                    <p>Friends list:</p>

                    <ul id="friendslist" class="clearfix">
                        <li><a href="#"><img src="../resources/static/images/avatar.png" width="22" height="22"> Username</a></li>
                        <li><a href="#"><img src="../resources/static/images/avatar.png" width="22" height="22"> SomeGuy123</a></li>
                        <li><a href="#"><img src="../resources/static/images/avatar.png" width="22" height="22"> PurpleGiraffe</a></li>
                    </ul>
                </section>

                <section id="settings" class="hidden">
                    <p><img src="../resources/static/images/edit.png" alt="*Edit*">Edit your user settings:</p>

                    <p class="setting"><span>E-mail address</span> <a th:text="${user.email}"></a> </p>

                    <p class="setting"><span>Phone number</span> <a th:text="${user.phone != ''} ? ${user.phone} : 'Not added'"></a> </p>

                    <p class="setting"><span>Date of birth</span> <a th:text="${user.birthDate != null} ? ${#dates.format(user.birthDate, 'dd-MM-yyyy')} : 'Not added'"></a> </p>

                    <p class="setting"><span>Gender</span> <a th:text="${user.gender != null} ? ${user.gender} : 'Not added'"></a> </p>

                    <a class="change" th:href="@{/api/changeContact}">Change contacts</a> <a class="changeDelimiter">or maybe</a> <a class="change" th:href="@{/api/changePassword}">Change password</a>
                </section>
            </div><!-- @end #content -->
        </div><!-- @end #w -->
        <script type="text/javascript">
            $(function(){
                $('#profiletabs ul li a').on('click', function(e){
                    e.preventDefault();
                    var newcontent = $(this).attr('href');

                    $('#profiletabs ul li a').removeClass('sel');
                    $(this).addClass('sel');

                    $('#content section').each(function(){
                        if(!$(this).hasClass('hidden')) { $(this).addClass('hidden'); }
                    });

                    $(newcontent).removeClass('hidden');
                });
            });
        </script>
    </div>
</div>
</body>
</html>